<div class="row">

  <%= render 'users/list', user: @user, book: @new_book %>

  <div class="col-xs-9">
    <h2> Book detail </h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>
            <%# TODO: profile image更新出来るようにする %>
            <%= attachment_image_tag @user, :profile_image, size: '40x40', fallback: 'no_image.jpg' %> <br>
            <%= @user.name %>
          </td>
          <td>
            <%= link_to @book.title, book_path(@book.id) %>
          </td>
          <td>
            <%= @book.opinion %>
          </td>
          <td>
            <%= link_to 'Edit', edit_book_path(@book.id), :class => 'btn-sm btn-success' %>
          </td>
          <td>
            <%= link_to 'Destroy', book_path(@book.id), method: :delete, data: {confirm: '本当に削除しますか？'}, :class => 'btn-sm btn-danger' %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
